.button-div {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    justify-content: center;
}

.row-container {
    display: flex;
    flex-direction: row;
}

.grid-square {
    background-color: skyblue;
    margin: 1px;
    width: 10px;
    height: 10px;
}